{% extends "base.html" %} {% block content %}
<ul class="flex flex-col gap-2 pt-4 bg-gray-100 rounded-lg p-4">
  <h1 class="text-2xl font-bold">Test Files</h1>
  {% for test_file in test_files %}
  <li class="hover:underline hover:text-blue-400 bg-gray-200 rounded-lg p-2">
    <a
      href="{{ url_for('download_test_file', filename=test_file[1]) }}"
      target="_blank"
      >{{ test_file[0] }}</a
    >
  </li>
  {% endfor %}
</ul>

<form
  method="post"
  action="{{ url_for('run_test') }}"
  class="mt-4 grid grid-cols-1 w-96"
>
  <label for="test_file" class="font-bold mb-2">Select a test to run:</label>
  <select
    name="test_file"
    id="test_file"
    class="mb-4 bg-gray-100 p-2 rounded-full"
  >
    {% for test_file in test_files %}
    <option value="{{ test_file[0] }}">{{ test_file[0] }}</option>
    {% endfor %}
  </select>
  <button
    type="submit"
    class="bg-blue-500 rounded-xl py-2 px-6 text-white hover:bg-blue-600"
  >
    Run Selected Test
  </button>
</form>
{% endblock %}
